= form_for(:session, url: login_path) do |f|
  .form-group
    = f.label :email
    = f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control'
  .form-group
    = f.label :password
    = f.password_field :password, autocomplete: 'current-password', class: 'form-control'
  .form-group
    = f.label :second_factor_authentication_code
    = f.text_field :second_factor_authentication_code, class: 'form-control'
  .actions
    = f.submit 'Log in', class: 'btn btn-primary'
%p New user? #{link_to "Sign up now!", signup_path}
